name: Rust CI

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        rust: [stable, nightly]
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@master
    - name: Build
      run: |
        rustup update ${{ matrix.rust }} && rustup default ${{ matrix.rust }}
        cargo build

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    needs: [build]

    strategy:
      matrix:
        rust: [stable, nightly]
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@master
    - name: Test
      run: |
        rustup update ${{ matrix.rust }} && rustup default ${{ matrix.rust }}
        cargo test

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Rustfmt Check
      run: |
        rustup update stable && rustup default stable && rustup component add rustfmt
        cargo fmt -- --check

  clippy-check:
    name: Clippy Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - id: component
      uses: actions-rs/components-nightly@v1
      with:
        component: clippy
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ steps.component.outputs.toolchain }}
        override: true
    - run: rustup component add clippy
    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features

